<body>
<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-4">BEM VINDO À FARMÁCIA RUEL</h1>
    <p class="lead">Pensa na sua Saúde? A Farmácia Ruel pensa.</p>
    <p class="lead">Nao há ninguem mais fiel que a Farmácia Ruel.</p>
    <a href="/shop-list" class="btn btn-primary btn-lg">Compra já</a>
  </header>

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://www.benefarmaceutica.pt/multimedia/picture/3693c776-bb47-11e4-bd34-0025907ad316/" alt="">
        <div class="card-body">
          <h4 class="card-title">Paracetamol 250mg (Ben-u-ron)</h4>
          <p class="card-text">Este medicamento é indicado em adultos para a redução da febre e para o alívio temporário de dores leves a moderadas, tais como: dores associadas a resfriados comuns, dor de cabeça, dor no corpo, dor de dente, dor nas costas, dores musculares, dores leves associadas a artrites e cólicas menstruais.</p>
        </div>
        <div class="card-footer">
          <a href="https://www.minhavida.com.br/saude/bulas/24-paracetamol-comprimido" class="btn btn-primary">Mais Informações</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://andina.bayer.com/static/media/images/news/AspirinaUltra_16.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Aspirina</h4>
          <p class="card-text">Aspirina® está indicada para:

            O alívio sintomático de dores de intensidade leve a moderada, como dor de cabeça, dor de dente, dor de garganta, dor menstrual, dor muscular, dor nas articulações, dor nas costas, dor da artrite;

            O alívio sintomático da dor e da febre nos resfriados ou gripes.</p>
        </div>
        <div class="card-footer">
          <a href="https://www.minhavida.com.br/saude/bulas/576-aspirina" class="btn btn-primary">Mais Informações</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://www.bisolvon.pt/img/pt/chestyCoughs/BISOLVON-XAROPE-C-pt.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Bisolvon</h4>
          <p class="card-text">BISOLVON é indicado para o tratamento de doenças broncopulmonares (dos brônquios e dos pulmões), ajudando a dissolver o catarro e facilitando a expectoração (eliminação do catarro).</p>
        </div>
        <div class="card-footer">
          <a href="https://www.minhavida.com.br/saude/bulas/417-bisolvon-xarope" class="btn btn-primary">Mais Informações</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://www.blissnatura.pt/image/cache/catalog/Produtos/Libidium/libidium-fast-extra-estimulante-dobro-potencia-700x700.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Libidum Fast</h4>
          <p class="card-text">O Libidium Fast é um suplemento alimentar divulgado como estimulante sexual que, de acordo com os sites anunciantes, oferece solução efetiva contra problemas de disfunção sexual.</p>
        </div>
        <div class="card-footer">
          <a href="https://www.blissnatura.pt/libidium-fast-extra-estimulante-sexual-masculino" class="btn btn-primary">Mais Informações</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->


<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright © <a href="url">wwww.farmaciaruel.pt</a></p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
